@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
ul{
  padding: 0px 8px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #0f0f0f;
  opacity: .65;
  font-size: 14px;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.width-100{
  width: 100%;
}
.flex{
  display: flex;
}
.vertical{
  flex-direction: column;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.gap-16{
  gap: 16px;
}
.footer{
  background-color: lightgray;
}